<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>controller.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCustomerServlet</servlet-name>
        <servlet-class>controller.SetCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGoodsServlet</servlet-name>
        <servlet-class>controller.ListGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetGoodsServlet</servlet-name>
        <servlet-class>controller.SetGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGoodsServlet</servlet-name>
        <servlet-class>controller.AddGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStaffServlet</servlet-name>
        <servlet-class>controller.SetStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportGoodsServlet</servlet-name>
        <servlet-class>controller.ImportGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInvoiceServlet</servlet-name>
        <servlet-class>controller.ListInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceDetailServlet</servlet-name>
        <servlet-class>controller.InvoiceDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/listcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCustomerServlet</servlet-name>
        <url-pattern>/setcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGoodsServlet</servlet-name>
        <url-pattern>/listgoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetGoodsServlet</servlet-name>
        <url-pattern>/setgoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGoodsServlet</servlet-name>
        <url-pattern>/addgoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStaffServlet</servlet-name>
        <url-pattern>/setstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportGoodsServlet</servlet-name>
        <url-pattern>/importgoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInvoiceServlet</servlet-name>
        <url-pattern>/listinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceDetailServlet</servlet-name>
        <url-pattern>/invoicedetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
